{% set lastTitle = '' %}
{% for key,line in cssArray %}
	<div id="css_{{ line.target|replace({'#': "", '.': ""}) }}">
		<div class="left formTitle {% if key != 0 %}paddingTop20{% endif %} {% if line.comment is defined and lastTitle==line.comment %}hidden{% endif %}" >
			{% if line.comment is defined %}
				{{ line.comment }}
				{% set lastTitle = line.comment %}
				<input type="hidden" name='{"{{ line.target }}":"comment"}' value="{{ line.comment }}">
			{% else %}
				{{ line.target }}
			{% endif %}
		</div>
		
		{% if line.values is iterable %}{% for name,value in line.values %}
			<div class="paddingBottom10"><div class="left">
				{% if value.comment is defined %}
					{{ value.comment }}
				{% else %}
					{{ name }}
				{% endif %}	
			</div>
			{% if name matches '/color$/' %}
				<div class="input-group colorpickerDiv">
				    <input type="text" name='{"{{ line.target }}":"{{ name }}"}' value="{{ value.value }}" class="form-control" />
				    <span class="input-group-addon"><i></i></span>
				</div>
			{% else %}
			    <input type="text" name='{"{{ line.target }}":"{{ name }}"}' value="{{ value.value }}" class="form-control">
			{% endif %}
			
			{% if value.comment is defined %}
				<input type="hidden" name='{"{{ line.target }}":"{{ name }}_comment"}' value="{{ value.comment }}">
			{% endif %}</div>
		{% endfor %}{% endif %}
	</div>
{% endfor %}